{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>
    <a class="btn btn-success btn-sm" href="{{ path("app_item_create") }}" role="button">Créer une article</a>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Description</th>
      <th scope="col">Prix</th>
      <th scope="col">Effet</th>
      <th scope="col">Boutique disponible</th>
      <th scope="col">Icone</th>
       <th scope="col">Modifier / Supprimer</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  {% for item in items %}
    <tr>
      <th scope="row">{{ item.name }}</th>
      <td>{{ item.description }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.effect }}</td>
      <td>{{ item.marketPlace }}</td>
      <td>{{ item.icon }}</td>
      <th scope="col">
          <a class="btn btn-warning btn-sm" href="{{ path("app_item_update", {id: item.id}) }}" role="button">Modifier</a>
          <a class="btn btn-danger btn-sm"  href="{{ path("app_item_delete", {id: item.id}) }}" role="button">Supprimer</a>
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
